/* Introduce.css */
.introduce-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  
  .introduce-content {
    max-width: 600px;
  }
  