.main-page {
    text-align: center;
  }
  
  .body-image {
    width: 300px;
    margin-top: 20px;
  }
  
  .arm-link, .abs-link, .leg-link {
    position: absolute;
    cursor: pointer;
  }
  
  .arm-link {
    top: 50px;
    left: 100px;
  }
  
  .abs-link {
    top: 150px;
    left: 100px;
  }
  
  .leg-link {
    top: 250px;
    left: 100px;
  }
  